<div class="container">
  <h1 class="text-center">CELL - {{cell_id}}</h1>

  <div class="row d-flex justify-content-between">

    <div class="col-6" style="position: relative; height: 512px; width: 512px">
      <canvas id="chartvt" #chartvt></canvas>
    </div>

    <div class="col-6" style="position: relative; height: 512px; width: 512px">
      <canvas id="chartcut" #chartcut></canvas>
    </div>

    <div class="col-6" style="position: relative; height: 512px; width: 512px">
      <canvas id="charttt" #charttt></canvas>
    </div>

    <div class="col-6" style="position: relative; height: 512px; width: 512px">
      <canvas id="chartcat" #chartcat></canvas>
    </div>

  </div>

</div>
