<html lang="en">
<body>

<main>

  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Project</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      <li>
        <a class="nav-link" [routerLink]="'/dashboard'" [ngClass]="{'active' : currentTab == '/dashboard'}">
          Dashboard
        </a>
      </li>

      <li *ngFor="let cellDetail of cellsInfo">
        <a class="nav-link" [routerLink]="'/cell/' + cellDetail.cell_id" [ngClass]="{'active' : currentTab == '/cell/' + cellDetail.cell_id}">
          Cell ID {{cellDetail.cell_id}}
        </a>
      </li>

    </ul>

  </div>

  <div class="b-example-divider"></div>

  <div class="container p-5">
    <router-outlet></router-outlet>
  </div>

</main>

</body>
</html>
