<div class="container">
  <h1 class="text-center">Dashboard</h1>

  <div class="container-fluid rounded bg-secondary text-center p-2">
    <h3 style="font-family: Orbitron,serif">State of Health</h3>
  </div>

  <div class="container-fluid p-2 text-center d-flex justify-content-between">

    <div style="position: relative; height: 512px; width: 512px">
      <canvas id="chart1" #chart1></canvas>
    </div>

    <div style="position: relative; height: 512px; width: 512px">
      <canvas id="chart2" #chart2></canvas>
    </div>
  </div>

</div>
